fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langgraph
tavily-python
pydantic-settings
langchain-community
langchain-text-splitters
langchain-chroma
langchain-groq
chromadb
fastembed
pymupdf
python-docx
docx2txt
python-multipart
langchain-groq
